* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.hero {
    background-color: #1f2937;
    width: 100%;

}
.hero-title {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}
.hero-subtext {
    font-size: 18px;
    color: #e5e7eb;
}
.logo {
    max-width: 150px;
    height: auto;

    
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4rem 0 4rem;
    flex-wrap: wrap;
    flex: 1;
}
.navbar, ul {
    display: flex;

}
.navbar ul {
    gap: 2rem;
    list-style: none;
}
.navbar a {
    text-decoration: none;
}
.navbar a:hover {
    background-color: chartreuse;
}
.hero-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4rem;
    gap: 2rem;
}

.hero-container img {
    max-width: 50%;
    height: auto;
}
.text-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
input[type="submit"] {
    font-size: 18px;
    background-color: #3882f6;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 10px;
}
input[type="submit"]:hover {
    background-color: chartreuse;
}